html, body, *{
    margin:0;
    padding: 0;
    border: 1px solid black;
    text-align: center;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.canvas-container{
display: flex;
justify-content: center;
align-items: center;
margin:0;
padding:0;
width:960px;
height:960px;
}

.unit-row{
    display:flex;
    flex-direction: column;
    border: none;
}
.unit{
    box-sizing:border-box;
    background-color: white;
    
}

.filled{
    background-color: black;
}

button{
    padding:20px 40px;
    margin: 20px;
}